* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.colors {
  display: flex;
  width: 20%;
  height: 100vh;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btn {
  margin: 4px;
  padding: 4px;
  display: flex;
  position: fixed;
  top: 425px;
  left: 47%;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 368px) {
  .container {
    height: 150vh;
    display: flex;
  }
  .colors {
    display: flex;
    width: 20%;
    height: 99vh;
    top: 50%;
    border: 1px solid black;
    align-items: center;
    text-align: center;
  }
  .btn {
    position: absolute;
    top: 725px;
    left: 41%;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
  }
}